.intro {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 92px;
    font-weight: 700;
  }
  .bounce {
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      min-height:100vh;
      width: 100%;
      background: var(--blocskill-gradient)!important;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .navbar-toggler {
    color: none!important;
    background-color: none!important;
    padding: 0;
    border: none;
  }
  .navbar-toggler {
    color: none!important;
    border-color: none!important;
  }
  /*
  .toggleSection {
    position: fixed;
       top: 50%;
       right: 40px;
       z-index: 10;
  
  }
  */
  .toggleSection,
  p {
    font-size: 12px;
  }
  .navbar-brand {
    font-size: 1.50rem;
    color: var(--secondary-color)!important;
  }
  
  /* First toggle btn completed */
  .toggle-btn {
    position: relative;
    vertical-align: middle;
  }
  #theme {
    display: none;
  }

  .heart:hover {
	animation: beat .25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}

.nono {
    color: var(--btn-color)!important;
    background: var(--blocskill-gradient);
    border-radius: 19px;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
  /* First toggle btn completed */
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  .link-certificate {
    color: var(--primary-color)!important;
    text-decoration: underline!important;
  }
  
  .link-certificate:hover {
    color: var(--secondary-color)!important;
  }
  
  .content-about-text {
      left: 12.5vw;
      right: 12.5vw;
      z-index: 1;
      overflow: hidden;
      position: absolute;
      transform: translateY(-8.355vw);
  }
  
  
  .a.btout-position {
    background: var(--blocskill-gradient);
  
  }
  
  
  
  
  
  .project-intro {
    width: 80%;
  }  
  /*Form*/
  .contact_2 textarea.input {
    height: 170px;
  }
  .color-heading {
    color: var(--btn-bg-primary);
  }
  .alert {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 970px;
    z-index: 2000;
  }
  .alert-dismissible .close {
    top: 0;
  }
  
  /* inputs */
  .input {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
    height: 50px;
    font-weight: 500;
    border-radius: 22px;
    transition: border-color 0.3s;
    /* Sizes */
    /* Borders */
    /* styles on focus */
    /* placeholders */
  }
  .input:focus::-moz-placeholder {
    color: transparent !important;
  }
  .input:focus::-webkit-input-placeholder {
    color: transparent !important;
  }
  .input:focus:-ms-input-placeholder {
    color: transparent !important;
  }
  .input.lg {
    height: 60px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .input.border-gray {
    border: 2px solid var(--secondary-color);
  }
  .input.focus-action-1:focus {
    border-color: var(--primary-color);
  }
  .input.placeholder-heading::-moz-placeholder {
    color: var(--secondary-color);
    opacity: 70%;
  }
  .input.placeholder-heading::-webkit-input-placeholder {
    color: var(--secondary-color);
    opacity: 70%;
  }
  .input.placeholder-heading:-ms-input-placeholder {
    color: var(--secondary-color);
    opacity: 70%;
  }
  textarea.input {
    padding-top: 15px;
  }
  input,
  textarea {
    border: 0;
    outline: none;
    background: transparent;
    color: #1e0e62;
    resize: none;
  }
  .skill-rapid-prototyping{
    border-radius: 50px;
    background:linear-gradient(110deg,rgba(126,2,209,1)10%,rgba(255,1,255,1));
  }
  
  .skill-visual-design{
    border-radius: 50px;
    background:linear-gradient(110deg,rgba(252,93,25,1)10%,rgba(252,222,25,1));
  }
  
  .skill-interaction-design{
    border-radius: 50px;
    background:linear-gradient(110deg,rgba(255,0,92,1)10%,rgba(255,0,150,1));
  }
  
  .skill-motion-design{
    border-radius: 50px;
    background:linear-gradient(110deg,rgba(86,32,255,1)10%,rgba(148,114,255,1));
  }
  
  .skill-frontend-dev{
    border-radius: 50px;
    background:linear-gradient(110deg,rgba(0,153,89,1)10%,rgba(0,255,151,1));
  }
  
  
  
  .text-gradient {
       background: var(--blocskill-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .quote:after {
      content: '\201C';
      font-family: serif;
      font-style: normal;
      font-weight: 700;
      font-size: 175px;
      top: 0px;
      line-height: 0.5;
  
  }
  
  .noquote:after {
      content: '\201C';
      font-family: serif;
      font-style: normal;
      font-weight: 700;
      font-size: 175px;
      top: 0px;
  
  }
  
  .color-subtitle {
    color: var(--subtitle)!important;
  }
  
  
  .rounded-general {
    border-radius: 50px;
  }
  
  .rounded-bottom{
    border-radius: 0 0 50px 50px!important;
  }
  
  
  [data-theme="light"] #svgHomeContainerLight {
    display: block;
  }
  
  [data-theme="light"] #svgHomeContainerDark {
    display: none;
  }
  /*
  [data-theme="dark"] #svgHomeContainerLight {
    display: none;
  }
  
  [data-theme="dark"] #svgHomeContainerDark {
    display: block;
  }
  */
  .title-introduction,h3 {
      color: #fff;
  }
  
  
  
  .video-background-holder video {
    position:relative;
    display:block;
    width:100%; 
  }
  
  
  
  .video-overlay {
    position:absolute;
    display:inline-block;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
  }
  
  .video-background-holder {
    position: relative;
    min-height:100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: fit-content;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  
  }
  
  #mute {
    background-image: url(../images/sound-off.svg);
      background-repeat: round;
      background-size:32px;
      background-color: initial;
      border:0;
      width:32px;
      height:32px;
      margin-top: 25px;
      margin-right: 15px;
      position: absolute;
      z-index: 100;
   
  }
  
  #mute:focus {
    outline: none;
  }
  
  #mute:hover {
    cursor: pointer;
  }
  
  #resize-video-scroll {
      transition: 0.9s;
  }
  
  #resize-scroll {
      transition: 0.9s;
  }
  
  
  
  .top-content{
     min-height:100vh;
     z-index: 20!important;
     
  }
  
  
  .zindexup {
    z-index: 10!important;
    position: relative;
  }
  
  #noise:before{
      top:-10rem;
      left:-10rem;
      width:calc(100% + 20rem);
      height:calc(100% + 20rem);
      z-index:1;
      content:'';
      position:fixed;
      pointer-events:none;
      background-position:50%;
      background-image:url(../images/noise.png);
      pointer-events:none;
      animation:noise 1s steps(2) infinite
  }
  
  @keyframes noise{
      0%{
          transform:translate3d(0, 9rem, 0)
      }
      10%{
          transform:translate3d(-1rem, -4rem, 0)
      }
      20%{
          transform:translate3d(-8rem, 2rem, 0)
      }
      30%{
          transform:translate3d(9rem, -9rem, 0)
      }
      40%{
          transform:translate3d(-2rem, 7rem, 0)
      }
      50%{
          transform:translate3d(-9rem, -4rem, 0)
      }
      60%{
          transform:translate3d(2rem, 6rem, 0)
      }
      70%{
          transform:translate3d(7rem, -8rem, 0)
      }
      80%{
          transform:translate3d(-9rem, 1rem, 0)
      }
      90%{
          transform:translate3d(6rem, -5rem, 0)
      }
      to{
          transform:translate3d(-7rem, 0, 0)
      }
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;

}
  img, video {
    z-index:10;
    position: relative;
  }
  
  .email{
      padding-bottom: 7px;
  }
  
  .lookback-img {
    border-radius: 20px!important;
    background-color: #fff;
    transition: transform .2s;
  }
  .lookback-img:hover {
  transform: scale(1.1);
  }
  
  .style-case-studie-round {
  border-radius: 22px!important;
  }
  .style-case-studie {
    border-radius: 22px!important;
    box-shadow: 0px 16px 60px rgba(51, 51, 51, 0.1)!important;
  }
  
  [data-theme="light"] .svgHomeContainerLight {
    display: inline-block;
  }
  
  [data-theme="light"] .svgHomeContainerDark {
    display: none;
  }
  /*
  [data-theme="dark"] .svgHomeContainerLight {
    display: none;
  }
  
  [data-theme="dark"] .svgHomeContainerDark {
    display: inline-block;
  }
  */
  [data-theme="light"] ::selection { background-color: rgba(255,1,255,1)!important; }
  /*
  [data-theme="dark"] ::selection  { background-color: rgba(255,1,255,1)!important; }
  */
  
  [data-theme="light"] ::selection { color: #ffffff!important; }
  /*
  [data-theme="dark"] ::selection { color: #ffffff!important; }
 
  .svgHomeContainerDark {
    cursor: pointer;
  }
  */
  .svgHomeContainerLight {
    cursor: pointer;
    }
  
  .bg-color-section {
    background-color: var(--bg-color-section);
  }
  .btn {
    border: 2px solid;
  }
  .information-border {
    margin-bottom: 6px;
    display: inline-block;
    border: 1px solid var(--secondary-color)!important;
    padding: 3px 6px 3px 6px;
    border-radius: 30px;
  }
  
  .information-border:hover{
    color: var(--btn-color)!important;
    -webkit-text-fill-color: var(--btn-color)!important;
    background: var(--blocskill-gradient);
    border-radius: 19px;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    border: hotpink!important;
  }
  .bg-footer {
    background-color: var(--bg-footer);
    color: var(--font-color-footer);
    font-size: 18px;
    border-radius: 50px 50px 0 0;
  }
  
  .bg-sub-footer {
    background-color: var(--bg-sub-footer);
    color: var(--font-color-footer);
    font-size: 18px;
  }
  
  
  .card {
    background-color: transparent;
    border:none;
  }
  
  .card-header {
      background-color: transparent;
      border-bottom: 1px solid var(--secondary-color);
      }
  label.theme-switch {
    display: inline;
  }
  
  input[type="checkbox"] {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none!important;
    text-transform: none!important;
    overflow-x: hidden;
    overflow-y: auto;
    position: unset;
  }
  
  a {
    text-decoration: none!important;
    text-transform: none!important;
  }
  .article-link a {
    color: var(--secondary-color);
    text-decoration: underline!important;
    }
  
  p {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
  }
  
  .txt-work-title-white{
    color:#ffffff!important;
  }
  
  .txt-work-title-black{
    color:#000000!important;
  }
  
  .figma-logo{
    height: 30px;
    margin-left: 8px;
  }
  
  .bottom-btn {
    bottom: 0!important;
    position: absolute!important;
  }
  .btn:focus{
    box-shadow: none;
  }
  .badge {
    font-size: 100%;
    background-color: #32E875;
    padding: 8px 6px 6px 6px;
  }
  
  
  .bloc-border {
    border: 1px solid var(--btn-bg-primary);
    border-radius: 10px;
  }
  
  
  .nav-item {
  border-radius: 1.25rem;
  }
  
  
  .plus-minus a {
    display: block;
      background: var(--secondary-color);
  }
  .plus-minus  a.collapsed {
      background: var(--secondary-color);
  }
  .plus-minus a:after {
      content: '-';
      position: absolute;
      right: 20px;
  }
  .plus-minus  a.collapsed:after {
      content: '+';
  }
  svg {
    vertical-align: top;
  }
  
  svg.icon-rs {
    width: 50px;
    height: 50px;
  }

  .item {
      display: flex;
      align-items: center;
  }
  
  .icon-menu {
    stroke: var(--btn-bg-primary-hover);
    stroke-width: 2px;
    fill: none;
  }
  .ironhack {
      margin-left: 0!important;
      padding: 0;
      z-index: 1000!important;
      position: fixed;
  }
  .certified-ironhack {
    fill: var(--btn-color);
  }
  .certified-ironhack-fill {
    fill: var(--btn-bg-primary-hover)!important;
  }
  .logo-header {
    stroke: var(--btn-bg-primary-hover);
    width: 50px;
    stroke-width: 2.5px;
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .logo-header-circle {
    fill: var(--btn-bg-primary-hover)!important;
  }
  .icon-rs {
    transition: transform 0.2s;
    z-index: 9;
  }
  
  .icon-rs {
    fill: #fff!important;
  }
  
  .fill-rs-about {
    fill: #fff;
  } 
  
  .fill-rs {
    fill: var(--btn-bg-primary-hover);
  }
  
  .icon-rs:hover {
    transform: translate(0, -5px);
    background: var(--blocskill-gradient);
    border-radius: 50%;
  }
  .skill-title {
    color: #ffffff;
  }
  .skill-text{
    color: #ffffff!important;
  }
  
  .rounded-video {
    border-radius: 22px!important;
  }
  .rounded-video:active {
    border-color: style;
  }
  .border-bottom {
    border-bottom: 1px solid var(--border-line)!important;
  }
  .border-cut {
    border-bottom: 1px solid var(--border-line)!important;
  }
  .carousel-indicators li {
    background-color: var(--btn-bg-primary);
  }
  .carousel-indicators {
    padding-top: 10px;
    margin-bottom: 0;
    position: relative;
  }
  
  .btn-article:hover:active {
    border: none!important;
  }
  
  
  .btn-article {
    color: var(--btn-color);
    background-color: var(--secondary-color);
    border: none!important;
    padding: 14px;
    border-radius: 22px;
    outline: none !important;
  }
  .fixed-b {
    bottom: 0!important;
  }
  
  .btn-article:hover {
      color: var(--btn-color);
      background: var(--blocskill-gradient);
      border-color: none;
  }
  
  .bouton {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      background: var(--blocskill-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 28px;
  }

  .title {
    position: relative;
  }

  .container:hover {
	cursor: pointer;
}

.title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: rgba(255,37,174,1);
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.container:hover .title::after {
	width: 88%;
	left: 30px;
}

  .btn-primary {
    color: whitesmoke;
    background-color: black;
    border:none;
    padding: 16px;
    border-radius: 22px;
    padding-right: 23px;
    padding-left: 23px;
    outline: none !important;
  }
  .btn-primary:hover {
    color: var(--btn-color);
    background: var(--blocskill-gradient);
    border:none;
}

  .btn-primary:active {
    color: var(--btn-color)!important;
    background-color: var(--btn-bg-primary)!important;
    box-shadow: none !important;
    outline-style: none !important;
    border-color: var(--btn-bg-primary)!important;
  }
  
  
  button.toggle-btn:hover {
    color: none;
    background: none!important;
    border-color: #fff;
  }
  button.toggle-btn {
    
    color: none;
    padding: 5px;
  
    border-color: #fff;
    padding-right: 1rem!important;
  }
  
  
  button.tooltip {
    position: absolute!important;
    background: none!important;
  }
  
  .rounded-circle  {
    border:none!important;
    background: none!important;
    line-height: 0;
  }
  
  
  .rounded-circle:hover {
    color: rgba(255,37,174,1)!important;
  }
  
  .tooltip-inner {
    color: var(--btn-color);
    background: var(--btn-bg-primary);
    border-color: var(--btn-bg-primary);
  }
  .bs-tooltip-right .arrow::before {
    border-right-color: var(--btn-bg-primary)!important;
  }
  .bs-tooltip-left .arrow::before  {
    border-left-color: var(--btn-bg-primary)!important;
  }
  
  
  
  .tile-section {
    box-shadow: var(--tile-section-shadow);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275);
    z-index: 1;
    border-radius: 33px;
    transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    transform: translateZ(0);
    background-color: var(--blocwork-color);
    overflow: hidden;
    height: 100%;
    color: var(--secondary-color)!important;
  }
  
  
  .tile-section:hover {
    opacity: 1 !important;
   box-shadow: var(--tile-section-shadow);
  transform: scale(1.04);
  }
  
  
  .btn-outline-primary {
    color: var(--btn-bg-primary-hover);
    border-color: var(--btn-bg-primary-hover);
    padding: 16px;
    border-radius: 22px;
    padding-right: 23px;
    padding-left: 23px;
  }
  .btn-outline-primary:active {
    color: var(--btn-bg-primary)!important;
    background: none!important;
    border-color: var(--btn-bg-primary)!important;
  }
  .btn-outline-primary:focus {
    color: var(--btn-bg-primary)!important;
    background: none!important;
    border-color: var(--btn-bg-primary)!important;
  }
  
  
  .btn-outline-primary:hover {
     border-color: var(--btn-bg-primary-hover);
    background: var(--blocskill-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  .btn-primary:focus {
    box-shadow: none !important;
  }

  .adress {
      color: var(--menu-gradient);
      font-weight: 500;
  }
  button:active {
    color: var(--btn-color)!important;
    background-color: var(--btn-bg-primary-hover)!important;
    box-shadow: none !important;
    outline-style: none !important;
    border-color: var(--btn-bg-primary-hover)!important;
  }
  .spacing {
    letter-spacing: -0.4px;
  }
  .primary-color {
    color: var(--primary-color);
  }
  .plus-color {
    color: var(--secondary-color);
  }
  .plus-color:hover {
    color: var(--primary-color);
  }
  
  .secondary-color {
    color: black;
  }
  .font-color {
    color: var(--font-color);
  }
  .bg-color {
    color: var(--bg-color);
  }
  .heading-color {
    color: var(--heading-color);
  }
  .heading-blue {
    font-size: 60px;
    font-weight: 900;
    color: var(--primary-color);
  }
  
  .heading-about {
    font-size: 60px;
    font-weight: 900;
    color: var(--primary-color);
  }
  
  .color-about {
    color: #fff;
  }
  .heading-black {
    font-size: 60px;
    font-weight: 900;
    color: black;
  }
  
  
  .nav-link {
    color: var(--nav-link);
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    font-weight: 600;
  }
  
  .nav-link:hover {
      background: var(--blocskill-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  
  .act-link{
    color: var(--btn-color)!important;
    background: var(--blocskill-gradient);
    border-radius: 19px;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
  
  a.act-link {
    opacity: 100%;
  }
  
  .act-link:hover{
    color: var(--btn-color)!important;
    -webkit-text-fill-color: var(--btn-color)!important;
    background: var(--blocskill-gradient);
    border-radius: 19px;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
  
  
  
  
  .active-link {
    display: none;
  }
  .pie-chart {
  width: 100px; height: 100px;
    border-radius: 50%;
    background: conic-gradient(#655 40%, yellowgreen 0);
  }
  .padding-ul,ul {
    padding-inline-start:20px;
  
  }
  /* Font styles */
  .light {
    font-weight: 300;
  }
  .medium {
    font-weight: 500;
  }
  .semibold {
    font-weight: 600;
  }
  .bold {
    font-weight: 800;
  }
  .extra-bold {
    font-weight: 900;
  }
  
  .intro-h1-max {
    font-size: 10vw;
    line-height: 12vw;
  }
  
  .intro-h1-min {
    font-size: 9vw;
    line-height: 8vw;
  
  }
  .intro-h2-max {
    font-size: 3vw;
    line-height: 3vw;
  }
  
  
  .intro-h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
  }
  .f-h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .f-h2m {
    font-size: 33px;
    line-height: 48px;
  }
  .f-h2 {
    font-size: 30px;
    line-height: 48px;
  }
  .f-h3 {
    font-size: 28px;
  }
  .f-h4 {
    font-size: 24px;
    line-height: 36px;
  }
  .f-h5m {
    font-size: 20px;
    line-height: 1.5;
    color:  #111111;;
  }
  
  
  .f-h5 {
    font-size: 18px;
    color:  #111111;;
  }
  .f-h6 {
    font-size: 17px;
    line-height: 30px;
  }
  .f-h7 {
    font-size: 14px;
    line-height: 22px;
  }
  .f-h8 {
      font-size: 12px;
      line-height: 22px;
      border-radius: 11px;
      color: #111111;
  }
  h1,
  h2,
  h3 {
    color: white;
    letter-spacing: -1.2px;
    margin: 0;
    padding: 0;
  }
  .titre{
      color: white;
  }
  
   h2 {
    font-weight: 800;
   }
  
  .projects,
  h1,
  .projects,
  h2,
  .projects,
  h3 {
    color: black;
  }
  .w-md-75 {
    width: 65%!important;
    display: inline-block;
  }
  .figure-caption {
      padding-top: 8px;
      color: var(--secondary-color);
      line-height: normal;
  }
  .lightense-backdrop {
    background-color: var(--bg-color)!important;
  }
  /* Icon hamburger*/
  .dot-dot-dot {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    cursor: pointer;
  }
  .dot-dot-dot span {
    height: 5px;
    margin: 2px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    background: var(--secondary-color);
  }
  /* End Icon hamburger*/
  
  .topfix{
    padding-top: 150px!important;
  }
  
  .navbar {
    z-index: 100;
    pointer-events: none;
    overflow: hidden;
  }
  
  .mainNav {
    background-color: var(--bg-tab-bar);
    border-radius: 15px;
    padding: 9px;
    display: inline-flex;
    pointer-events: all;
    }
  
    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
        40% {-webkit-transform: translateY(-30px);}
        60% {-webkit-transform: translateY(-15px);}
      }
       
      @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
        40% {-moz-transform: translateY(-30px);}
        60% {-moz-transform: translateY(-15px);}
      }
       
      @-o-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
        40% {-o-transform: translateY(-30px);}
        60% {-o-transform: translateY(-15px);}
      }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-30px);}
        60% {transform: translateY(-15px);}
      }
      
      .skill-user-research{
        border-radius: 50px;
        background:linear-gradient(110deg,rgba(0,100,252,1)10%,rgba(106,255,255,1));
      }
      :root {
          --primary-color: #111111;
          --secondary-color: #111111;
          --bg-footer: #111111;
          --bg-sub-footer: #F7F7F7;
          --font-color: #111111;
          --bg-color: #ffffff;
          --bg-color-section: #F6F6F6;
          --btn-color: #fff;
          --font-color-footer: #fff;
          --btn-bg-primary: #111111;
          --btn-bg-primary-hover: #161625;
          --heading-color: #292922;
          --border-line: #DEDEDE;
          --clipboard: #999999;
          --blocwork-color: #ffffff;
          --blocskill-gradient:linear-gradient(109.6deg, rgba(255,37,174,1) 11.2%, rgba(250,237,56,1) 91.1%);
          --menu-gradient:linear-gradient(109.6deg, rgba(255,37,174,1) 11.2%, rgba(250,237,56,1) 91.1%);
          --subtitle: #707070;
          --bg-tab-bar: rgba(236,236,236,.9);
          --tile-section-shadow: 0.125rem 0.9375rem 3.125rem rgba(0,0,0,.05);
          --nav-link: #111;
        }    
        .timeline {
            position: relative;
          }
          .timeline::before {
            content: '';
            background: #C5CAE9;
            width: 5px;
            height: 95%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          
          .timeline-item {
            width: 100%;
            margin-bottom: 70px;
          }
          .timeline-item:nth-child(even) .timeline-content {
            float: right;
            padding: 40px 30px 10px 30px;
          }
          .timeline-item:nth-child(even) .timeline-content .date {
            right: auto;
            left: 0;
          }
          .timeline-item:nth-child(even) .timeline-content::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
          .timeline-item::after {
            content: '';
            display: block;
            clear: both;
          }
          
          .timeline-content {
            position: relative;
            width: 45%;
            padding: 10px 30px;
            border-radius: 16px;
            background: #f5f5f5;
            box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
          }
          .timeline-content::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            right: -15px;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #f5f5f5;
          }
          
          .timeline-img {
            width: 30px;
            height: 30px;
            background: rgba(255,37,174,1);
            border-radius: 50%;
            position: absolute;
            left: 50%;
            margin-top: 25px;
            margin-left: -15px;
          }
          
          .timeline-content a {
            background: rgba(255,37,174,1);
            color: #FFFFFF;
            padding: 8px 20px;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 20px;
            margin-top: 10px;
            display: inline-block;
            border-radius: 16px;
            box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
          }
          .timeline-content a:hover, .timeline-content a:active, .timeline-content a:focus {
            background: rgb(167, 5, 107);
            color: #FFFFFF;
            text-decoration: none;
          }

         .timeline-content h2 {
             padding-top: 40px;
             font-weight: 600;
         }

         .timeline-content h3 {
            font-style: oblique;
         }

         .timeline-content p {
             font-size: 15px;
             padding-top: 20px;
         }
          .date {
            background: rgba(250,237,56,1);
            display: inline-block;
            color: #FFFFFF;
            padding: 8px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 4px;
          }
          
          @media screen and (max-width: 768px) {
            .timeline::before {
              left: 50px;
            }
            .timeline .timeline-img {
              left: 50px;
            }
            .timeline .timeline-content {
              max-width: 100%;
              width: auto;
              margin-left: 70px;
            }
            .timeline .timeline-item:nth-child(even) .timeline-content {
              float: none;
            }
            .timeline .timeline-item:nth-child(odd) .timeline-content::after {
              content: '';
              position: absolute;
              border-style: solid;
              width: 0;
              height: 0;
              top: 30px;
              left: -15px;
              border-width: 10px 15px 10px 0;
              border-color: transparent #f5f5f5 transparent transparent;
            }
          }

          @keyframes loader {

            0% {
                width: 0;
            }
        
            20% {
                width: 10%;
            }
        
            25% {
                width: 24%;
            }
        
            43% {
                width: 41%;
            }
        
            56% {
                width: 50%;
            }
        
            66% {
                width: 52%;
            }
        
            71% {
                width: 60%;
            }
        
            75% {
                width: 76%;
            
            }
        
            94% {
                width: 86%;
            }
        
            100% {
                width: 100%;
            }
        
        }
        
        .progress-bar {
            border-radius: 60px;
            overflow: hidden;
            width: 100%;
        }
            .progress-bar span {
                display: block;
            }
        

        
        .bar {
          background: whitesmoke;
        }
        
        .progress {
          animation: loader 2s ease infinite;
          background: gold;
          color: black;
          padding: 5px;
          width: 0;
        }
        
        .progress-bar {
            left: 50%;
            max-width: 40%;
            position: absolute;
            top: 70%;
            transform: translate3d(-50%,-50%,0);
          }

          .testimony{
            border-radius: 50px;
            background:linear-gradient(109.6deg, rgba(255,37,174,1) 11.2%, rgba(250,237,56,1) 91.1%);
            text-align: center;
            padding: 20px;
          }

          .icon {
              max-width: 60px;

          }
